@import "@/styles/variables.scss";

.footer{
    background-color: #1d1d1d;
    padding: 4rem 6rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;

    &__group{
        display: flex;
        align-items: center;
        gap: 5rem;
    }

    &__icons{
        display: flex;
        gap: 1rem;
    }

    &__icon{
        width: 2.5rem;
        height: 2.5rem;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2c2c2c;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    &__col{
        // border: 1px solid red;

        &__logo{
            width: 12rem;
            height: 3.5rem;
            object-fit: cover;
        }

        &:not(:first-child){
            flex: 1;
        }

        &:first-child{
            width: 35rem;
        }

        &:last-child{
            width: min(30rem, 100%);
        }

        &__list{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            a{
                color: #fff;
                font-size: 0.85rem;
            }
        }

        &__input{
            padding: 0.6rem 0.5rem;
            background-color: rgba(255, 255, 255, 0.2);
            border: 1px solid transparent;
            color: $color-white;
            border-radius: 0.2rem;

            &::placeholder{
                color: $color-white;
                opacity: 0.5;
            }

            &:focus{
                outline: 1px solid $color-white;
            }
        }

        &__btn{
            padding: 0.7rem 1rem;
            text-transform: capitalize;
            background-color: $color-primary;
            color: $color-white;
            font-weight: 500;
            border: 1px solid $color-primary;
            border-radius: 0.2rem;
        }
    }
}