@import "@/styles/variables.scss";

.property{
    padding: 4rem 6rem 6rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background: url("@/assets/bg-right.svg") no-repeat top right;

    &__header{
        width: min(32rem, 100%);
        margin: 0 auto;
    }

    &__btn{
        font-size: 0.85rem;
        font-weight: 500;
        padding: 0.9rem 1.5rem;
        text-transform: uppercase;
        background-color: $color-primary;
        border: 1px solid transparent;
        border-radius: 0.3rem;
        color: #fff;
        cursor: pointer;
        transition: all 200ms ease;

        &:hover{
            background-color: $color-primary-dark;
            color: $color-white;
        }
    }
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__image{
        width: 100%;
        height: 15rem;
        margin-bottom: 0.5rem;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__price{
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            background-color: rgba(0,0,0,0.6);
            color: #fff;
            padding: 0.5rem 1rem;
        }

        &__badge{
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 0.8rem;
            font-weight: 600;
            text-transform: uppercase;
            background-color: rgba(189, 167, 110, 0.95);
            color: #fff;
            padding: 0.5rem 1rem;
        }
    }
}