.post{
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__heading{
        font-size: 3rem;
        font-weight: 600;
        line-height: 2ch;
        text-align: center;
    }

    &__text{
        width: min(40rem, 100%);
        text-align: center;
        margin: 0 auto;
    }

    &__box{
        width: min(60rem, 100%);
        margin: 0 auto;

        img{
            width: 100%;
            height: 60vh;
            object-fit: cover;
            margin-bottom: 2rem;
        }
    }
}