.hero{
    padding: 0 6rem;
    margin-top: 5.3rem;
    background-color: #fafafa;

    img{
        height: 15rem;
        object-fit: cover;
    }

    &__banner{
        width: 100%;
        height: 25rem !important;
    }
}