*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}

.radix-themes{
    --default-font-family: "Open Sans", sans-serif;
    --heading-font-family: 'Bodoni Moda', sans-serif;
}

.hero-slider-overlay {
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.75));
}

/* the slides */
.slick-slide > div {
    margin: 0 0.3rem;
}

/* the parent */
.slick-list {
    margin: 0 -0.3rem;
}

.slick-prev:before,.slick-next:before {
    color: #a48a47;
  }

  @import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button {
  all: unset;
}
