$color-primary: #BDA76E;
$color-primary-dark: #a48a47;
$color-primary-light: #FAF4F0;

$color-dark: #313131;
$color-white: #fff;

//@: Media Queries
$media-xs: 36em;
$media-sm: 48em;
$media-md: 62em;
$media-lg: 75em;
$media-xl: 88em;