@import "@/styles/variables.scss";

.hero{
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: $color-white;
    background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.75)), url("@/assets/about-bg.webp") no-repeat center center / cover;
}