@import "@/styles/variables.scss";

.reviews{
    padding: 4rem 6rem;
    //margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    //min-height: 55vh;
    //position: relative;
    //background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.75)), url("@/assets/about-banner.webp") no-repeat center center / cover fixed;

    &__header{
        width: min(35rem, 100%);
        margin: 0 auto;
    }

    &__card{
        //position: absolute;
        //bottom: -9rem;
        //left: 50%;
        //transform: translateX(-50%);
        //display: flex;
        //width: min(50rem, 100%);
        min-height: 13rem;
        border-radius: 0.5rem;
        //overflow: hidden;
        border: 1px solid #e7e7e7;
        //box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.07);

        &__content{
            //flex: 0.5;
            padding: 2rem;
            background-color: $color-white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
        }

        &__img{
            flex: 0.5;
            height: 21em;
            object-fit: cover;
        }
    }
}