.company{
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;

    &:before{
        content: "";
        position: absolute;
        top: 6rem;
        left: 50%;
        width: 40rem;
        height: 20rem;
        transform: translateX(-50%);
        z-index: -1;
        background: url("@/assets/bg-arch.svg") no-repeat center center / contain;
    }

    &__header{
        width: min(40rem, 100%);
        margin: 0 auto;
    }

    &__card{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 3rem;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.07);
    }
}