@import "@/styles/variables.scss";

.banner{
    min-height: 60vh;
    padding: 6rem;
    background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.75)), url("@/assets/about-banner.webp") no-repeat center center / cover fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    h1{
        color: $color-white;
        font-size: 3rem;
    }

    &__group{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: min(65rem, 100%);
    }

    h4{
        color: $color-primary;
        font-size: 3rem;
        font-weight: 700;
    }

    p{
        color: $color-white;
    }
}